html{
	width: 100%;
}
.topHeader {
	width: 100%;
	height: 69px;
	clear: both;
	background-color: #eee;
	position: relative;
	z-index: 9999;
	top: 0px;
	left: 0;
}
#header {
	width: 900px;
	clear: both;
	height: 69px;
	margin: 0 auto;
	position: relative;
}
#logo {
	width: 250px;
	height: 62px;
	padding: 1px 0px;
	overflow: hidden;
	float: left;
}
#logo img{
	width: 250px;
	height: 40px;
	margin-top: 20px;
}
.top_nav { float:right; padding-top:25px; font-family:Arial;}
.top_nav a {
	font-family: "微软雅黑","Arial";
	font-size: 20px;
	font-weight: 200;
	display: inline-block;
	color: #0D0D0D;
	background: none;
	height: 32px;
	overflow: hidden;
	text-align: center;
	line-height: 32px;
	margin: 0px 15px;
	position: relative;
	z-index: 10;
	
}
.top_nav a, .top_nav a:link, .top_nav a:visited, .top_nav a:hover {
	color: #0D0D0D;text-decoration: none;
}
.top_nav a.on, .top_nav a.on:visited, .top_nav a.on:hover, .top_nav a:hover {
	color: #1F30A6;
}
.navBg {
	background: url(../images/nav_bg.gif) no-repeat 0px 0px;
	width: 78px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	display: none;
}

.header_img_big{
	min-width:1200px!important;
	width: 100%!important;
	padding: 0!important;
}
.header_img{
	min-width:1200px!important;
	padding: 0!important;
}
#header_img{
	
	width: 100%;
	height: 250px;
}
.main_content{
	width:1200px!important;
	height: 900px;
}
.content_left{
	margin: 40px;
	border-radius: 25px;
	height: 850px;
	background-color: #eee;
}

/* 右边样式 */
.content_right{
	margin-top: 40px;
	/* border-radius: 25px; */
	background-color: #eee;
	height: 850px;
}
.content_right span{
	margin-right: 10px;
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #46C7C7;
	box-shadow: 0px 2px 2px #444;
}
.content_right li{
	list-style: none;
	margin-bottom: 22px;
}
.content_right h4{
	font-size: 20px;
	font-weight: 600;
	font-family: '微软雅黑';
	margin-top: 20px!important;
}
.right_top a{
	color: #444;
	font-size: 17px;
}
.right_top a:hover{
	text-decoration: none;
}
.latest_news{
	padding: 10px;
	text-indent: 10px;
	font-size: 15px;
	line-height: 18px;
	color: #444;
	font-family: '微软雅黑';
}
.about_us{
	padding: 10px;
	font-size: 15px;
	line-height: 18px;
	color: #444;
	font-family: '微软雅黑';
}
#erweima{
	margin-left: 10px;
	width: 180px;
	height: 180px;
}
.content_nav{
	color: #444;
	font-size: 15px;
	margin-top: 20px;
	margin-left: 20px;
	font-weight: bold;
	font-family: '微软雅黑';
}
.content_nav span{
	color: #444;
	font-size: 20px;
}
.content_nav a{
	color: #444;
	font-size: 20px;
}
.main_content h3{
	font-size: 30px;
	font-family: '微软雅黑';
	margin-left: 20px;
	padding-bottom: 10px;
	/* border-bottom: 2px solid #444; */
}
.has_border{
	border-bottom: 2px solid #444;
}
.news_list{
	margin-top: 30px;
}
.news_list span{
	margin-top: 5px;
	margin-right: 10px;
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 35%;
	background-color: #46C7C7;
}
/* .news_list li{
	list-style: none;
	margin-top: 15px;
} */
.news_list li a{
	color:#444;
	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: 550;
	/* line-height: 22px; */
}
.news_list li a:hover{
	text-decoration: none;
	color: #1F30A6;
}

footer{
	margin-top: 50px;
	height: 150px;
	width: 100%;
	background-color:black;
}
footer h3{
	position: relative;
	top: 50px;
	color: #eee;
	font-family: '微软雅黑';
	margin-top: 50px;
	text-align: center;
}

/* NEWS子页面部分样式 */
.news_detail header{
	margin-top: 50px;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	font-family: '微软雅黑';
}
.news_detail p{
	padding: 20px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 450;
	font-family: '微软雅黑';
}
/* 部分公用样式 */
/* .active{
	background-color: #46C7C7!important;
} */

/* 服装服饰类部分 */
#sub_title{
	font-size: 18px;
}
.header_left{
	margin: 20px 40px;
}
.header_right{
	height: 250px;
	margin: 20px 0px;
	padding: 0!important;
	margin-left: -10px;
	box-shadow: 1px 1px 1px #444;
}
.header_right ul{
	padding-left: 0;
	
}
.header_right li{
	list-style: none;
	border-bottom: 2px solid #999;
	width: 100%;
	height: 50px;
	background-color: #ccc;
}
.header_right li:hover{
	background-color: #79E2E2;
}
.header_right li:hover a{
	color: #eee;
	text-decoration: none;
}
.header_right a{
	display: inline-block;
	margin-top: 10px;
	margin-left: 30px;
	color: #444;
	font-size: 20px;
	font-family: '微软雅黑';
}
.month,.year{
	padding:20px 60px;
}
.month img,.year img{
	width: 30px;
	height: 30px;
	margin-top: -10px;
}
.news_list h4{
	line-height: 40px;
	font-family: '微软雅黑';
	font-size: 25px;
	margin-bottom: 20px;
	border-bottom: 2px solid #444;
}
.news_list li{
	list-style: none;
	border-bottom: 2px dashed #888;
}
.news_list a{
	line-height: 50px;
}

/* 关于我们公司简介部分样式 */
.header_right_us{
	height: 250px;
	margin: 20px 0px;
	padding: 0!important;
	margin-left: -10px;
	box-shadow: 1px 1px 1px #444;
}
.header_right_us ul{
	padding-left: 0;
	
}
.header_right_us li{
	list-style: none;
	border-bottom: 2px solid #999;
	width: 100%;
	height: 84px;
	background-color: #ccc;
}
.header_right_us li:hover{
	background-color: #79E2E2;
}
.header_right_us li:hover a{
	color: #eee;
	text-decoration: none;
}
.header_right_us a{
	display: inline-block;
	margin-top: 26px;
	margin-left: 30px;
	color: #444;
	font-size: 20px;
	font-family: '微软雅黑';
}
#introduce{
	border-bottom: none;
	line-height: 25px;
	font-family: '微软雅黑';
	font-size: 20px;
}
#introduce p{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

/* 合作伙伴部分样式 */
.inline-block{
	display: inline-block;
}
.partners li,.partners{
	border: none!important;
}
.partners img{
	margin: 10px;
	width: 60px;
	height: 30px;
}

/* 联系我们部分样式 */
.contact_us_container{
	font-family: '微软雅黑';
	margin-top: 100px;
	margin-bottom: 100px;
	width: 800px!important;
}
.contact_title h3{
	margin-bottom: 60px;
	line-height: 35px;
	border-bottom: 2px solid #000;
}
.about_us_new{
	font-size: 15px;
	line-height: 25px;
	color: #444;
	font-family: '微软雅黑';
}

/* 服装细节页面样式 */
.news_list_new h4{
	line-height: 40px;
	font-family: '微软雅黑';
	font-size: 20px;
	margin-bottom: 20px;
	/* border-bottom: 2px solid #444; */
}
.news_list_new{
	margin-top: 30px;
}
.news_list_new span{
	margin-top: 5px;
	margin-right: 10px;
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 35%;
	background-color: #46C7C7;
}
.news_list_new li{
	list-style: none;
	margin-top: 15px;
} 
.news_list_new li a{
	color:#444;
	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: 550;
	/* line-height: 22px; */
}
.news_list_new li a:hover{
	text-decoration: none;
	color: #1F30A6;
}
.detail_title{
	font-size: 25px!important;
}