body{
	font-family: '微软雅黑'!important;
	font-size: 16px!important;
}
.page_title{
	line-height: 1.4em;
	border-bottom: 2px solid #444;
}
.nav_bar{
	margin-top: 60px;
}
.content .news_wrap{
	margin-top: 50px;
	padding: 50px;
	/* height: 800px; */
	background-color: #ccc;
	border-radius: 6px;
	box-shadow: 2px 2px 8px #000;
}
.content p{
	margin: 30px 0;
}
.new_submite{
	margin-bottom: 60px;new_
}
.new_submite textarea{
	display: block;
	margin: 50px auto 10px;
	width: 100%;
	height: 300px;
	overflow: auto;
}
#report{
	width: 90%;
	top: 65%;
	left: 5%;
	margin: 0 auto;
}
.login_main{
	position: relative;
	top: 200px;
	left: 40%;
	width: 250px;
	height: 220px;
	border: 2px solid #456;
}
.login_title{
	height: 25px;
	background-color: #cdd;
}
.form-horizontal{
	margin-top: 20px;
	padding-left: 30px;
}
.control-group:last-child{
	margin-top: 10px;
}
.news_wrap p{
	overflow: auto;
	height: 250px;
}